@charset "UTF-8";
* {
  margin: 0;
  padding: 0; }

body,
html {
  overflow-x: hidden;
  font-family: 'Open Sans', sans-serif;
  color: #33302e; }

.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  width: 100%; }

.section_title {
  font-size: 3.666em;
  line-height: 3em;
  text-align: center;
  margin-bottom: 50px; }
  .section_title::after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -15px;
    display: block;
    width: 30px;
    border-bottom: 2px solid #d39999; }

section {
  padding-top: 65px;
  padding-bottom: 65px; }

.top_bar {
  background-color: #70616C;
  display: flex;
  justify-content: space-around; }

.top_bar_menu {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between; }
  .top_bar_menu a {
    color: #F9F1F0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .top_bar_menu i {
    color: #F9F1F0; }

.bar_list_contacts {
  display: flex;
  justify-content: center; }
  .bar_list_contacts li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 14px;
    font-size: 14px;
    margin-left: 40px; }
  .bar_list_contacts img {
    width: 24px; }
  .bar_list_contacts .bar_list_record {
    background-color: #d39999;
    transition: background 0.3s; }
    .bar_list_contacts .bar_list_record:hover {
      background-color: #dcaeae; }
    .bar_list_contacts .bar_list_record a {
      text-decoration: none; }
  .bar_list_contacts i {
    color: #F9F1F0;
    margin-right: 10px; }
  .bar_list_contacts li.insta {
    margin: 0; }
  .bar_list_contacts a {
    display: flex; }

.mid_bar {
  background-color: #F9F1F0; }

.mid_bar_menu {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.bar_list_menu {
  display: flex;
  list-style: none;
  align-items: center; }
  .bar_list_menu a {
    color: #6f6f6f;
    padding: 0 10px;
    text-decoration: none;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 13px; }

.top_banner_part {
  background: url(../assets/banner.jpg) no-repeat 0 50%;
  background-size: cover;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end; }

.preview_name {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  color: #33302E;
  height: 100%;
  width: 400px; }
  .preview_name .h1 {
    font-size: 48px;
    margin: 10px 0; }
  .preview_name p {
    margin: 20px 0;
    font-size: 26px; }
  .preview_name button {
    color: #F9F1F0;
    background-color: #d39999;
    border: none;
    border-radius: 50px;
    padding: 16px;
    font-size: 18px;
    transition: background .3s linear; }
    .preview_name button:hover {
      background-color: #dcaeae; }

.section_skills__subtitle {
  text-align: center;
  max-width: 520px;
  font-size: 13px;
  text-transform: uppercase; }

.section_skills .block_skills_row {
  list-style: none;
  display: flex;
  justify-content: space-between; }
  .section_skills .block_skills_row li {
    width: 180px;
    text-align: center;
    margin: 40px 0; }
  .section_skills .block_skills_row a {
    text-decoration: none;
    color: #33302E;
    font-size: 20px; }
  .section_skills .block_skills_row .block_circle {
    height: 180px;
    border-radius: 50%;
    background-color: #70616C;
    margin-bottom: 20px; }
  .section_skills .block_skills_row .b_c_1 {
    background: url(../assets/img/200608134755.jpg) no-repeat center center;
    background-size: cover; }
  .section_skills .block_skills_row .b_c_2 {
    background: url(../assets/img/ee3657e19ced86349ab1275c199aee991e.jpg) no-repeat center center;
    background-size: cover; }
  .section_skills .block_skills_row .b_c_3 {
    background: url(../assets/img/maxresdefault.jpg) no-repeat 20% 50%;
    background-size: cover; }
  .section_skills .block_skills_row .b_c_4 {
    background: url(../assets/img/1-682342-RlQBoxrB-1024x679.jpg) no-repeat center center;
    background-size: cover; }
  .section_skills .block_skills_row .b_c_5 {
    background: url(../assets/img/U5qoQxDwcUk.jpg) no-repeat center center;
    background-size: cover; }

.section_advantages .advantages_area {
  display: flex;
  flex-direction: column; }
  .section_advantages .advantages_area .advantages_area_block {
    display: flex;
    justify-content: space-between; }
  .section_advantages .advantages_area .advantages_area_item {
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 45px;
    margin-top: 45px; }
    .section_advantages .advantages_area .advantages_area_item__image {
      height: 80px;
      width: 80px;
      border-radius: 50%;
      background-color: #F9F1F0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0; }
    .section_advantages .advantages_area .advantages_area_item__description {
      font-size: 15px;
      line-height: 25px;
      padding-left: 34px;
      padding-right: 10px;
      text-align: left; }

.section_price .price_area {
  display: flex;
  justify-content: center; }
  .section_price .price_area .price_area_item {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin: 15px;
    padding: 47px 30px;
    background-color: #F9F1F0;
    overflow: hidden; }
    .section_price .price_area .price_area_item .discount_label {
      position: absolute;
      right: -34px;
      top: 18px;
      text-align: center;
      color: #fff;
      font-size: 17px;
      line-height: 35px;
      background-color: #c9c4c0;
      padding: 0 50px;
      transform: rotate(45deg); }
    .section_price .price_area .price_area_item .discount_label_color {
      background-color: #f79d95; }
    .section_price .price_area .price_area_item__title {
      font-size: 32px;
      margin-bottom: 16px; }
    .section_price .price_area .price_area_item__subtitle {
      line-height: 1em;
      margin-bottom: 16px; }
    .section_price .price_area .price_area_item__description {
      font-size: 18px;
      line-height: 1.2em;
      margin-bottom: 35px; }
    .section_price .price_area .price_area_item .main_button {
      display: inline-block;
      text-decoration: none;
      border-radius: 25px;
      background-color: #D39999;
      color: white;
      padding: 15px 34px;
      font-size: 16px;
      cursor: pointer;
      font-family: "PT Serif", serif;
      font-size: 16px; }

.section_qualification .qualification_promo_area {
  display: flex; }
  .section_qualification .qualification_promo_area .promo_text {
    flex: 1; }
    .section_qualification .qualification_promo_area .promo_text ul {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 100%;
      margin: 0;
      padding: 0;
      list-style: none; }
    .section_qualification .qualification_promo_area .promo_text li {
      line-height: 1.6em;
      font-size: 20px; }
      .section_qualification .qualification_promo_area .promo_text li::before {
        content: '•';
        color: #d39999;
        position: relative;
        top: 5px;
        font-size: 30px;
        margin-right: 10px; }
  .section_qualification .qualification_promo_area .promo_img_area {
    flex: 1;
    display: flex;
    flex-direction: column; }
    .section_qualification .qualification_promo_area .promo_img_area .promo_img_box {
      display: flex;
      justify-content: center; }
      .section_qualification .qualification_promo_area .promo_img_area .promo_img_box .doc_img_container {
        width: 200px;
        height: auto;
        margin: 5px; }
        .section_qualification .qualification_promo_area .promo_img_area .promo_img_box .doc_img_container img {
          width: 100%;
          height: 100%; }
