// variables
//-colors
$top_bar_bg_color: #70616C;
$title_text_color: #33302E;
$top_bar_text_color: #F9F1F0;
$record_color:#d39999;
$mid_bar_color: #F9F1F0;
//-fonts
// mixins
//-------------------------------------------------------------------------- common --------------------------------
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    overflow-x: hidden;
    font-family: 'Open Sans', sans-serif;
    color: #33302e;
}

.wrapper {
    margin: 0 auto;
    max-width: 1170px;
    width: 100%;
}

.section_title {
    font-size: 3.666em;
    line-height: 3em;
    text-align: center;
    margin-bottom: 50px;
    &::after {
        content: "";
        position: absolute;
        left: 50%;
        margin-left: -15px;
        display: block;
        width: 30px;
        border-bottom: 2px solid $record_color;
    }
}

section {
    padding-top: 65px;
    padding-bottom: 65px;
}

//-------------------------------------------------------------------------- / common ------------------------------
//-------------------------------------------------------------------------- intro ------------------------------
.top_bar {
    background-color: $top_bar_bg_color;
    display: flex;
    justify-content: space-around;
}

.top_bar_menu {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    a {
        color: $top_bar_text_color;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
    i {
        color: $top_bar_text_color;
    }
}

.bar_list_contacts {
    display: flex;
    justify-content: center;
    li {
        display: flex;
        align-items: center;
        list-style: none;
        padding: 14px;
        font-size: 14px;
        margin-left: 40px;
    }
    img {
        width: 24px;
    }
    .bar_list_record {
        background-color: $record_color;
        transition: background 0.3s;
        &:hover {
            background-color: lighten($record_color, 6%);
        }
        a {
            text-decoration: none;
        }
    }
    i {
        color: $top_bar_text_color;
        margin-right: 10px;
    }
    li.insta {
        margin: 0;
    }
    a {
        display: flex;
    }
}

.mid_bar {
    background-color: $mid_bar_color;
}

.mid_bar_menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bar_list_menu {
    display: flex;
    list-style: none;
    align-items: center;
    a {
        color: #6f6f6f;
        padding: 0 10px;
        text-decoration: none;
        line-height: 70px;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 13px;
    }
    .menu_item {
        transition: .3s;
        &:hover {
            background-color: darken($mid_bar_color, 10%);
        }
    }
}

.top_banner_part {
    background: url(../assets/banner.jpg) no-repeat 0 50%;
    background-size: cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
}

.preview_name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    color: $title_text_color;
    height: 100%;
    max-width: 400px;
    margin-left: 50%;
    .h1 {
        font-size: 48px;
        margin: 10px 0;
    }
    p {
        margin: 20px 0;
        font-size: 26px;
    }
    button {
        color: $top_bar_text_color;
        background-color: $record_color;
        border: none;
        border-radius: 50px;
        padding: 16px;
        font-size: 18px;
        transition: background .3s linear;
        &:hover {
            background-color: lighten($record_color, 6%);
        }
    }
}

//-------------------------------------------------------------------------- / intro ------------------------------
// -------------------------------------------------------------------------------------------- section_about
.section_about {
    .about_me_wrap {
        display: flex;
        justify-content: space-between;
    }
    .photo_box {
        width: 50%;
        max-height: 500px;
        text-align: center;
        img {
            height: 100%;
            width: auto;
        }
    }
    .text_box {
        padding: 50px 20px;
        width: 50%;
        &__title {
            font-size: 37px;
            color: #33302e;
        }
        &__subtitle {
            color: #6F6F6F;
            margin-bottom: 23px;
        }
        &__description {
            font-size: 15px;
            color: #33302E;
        }
    }
}

//-------------------------------------------------------------------------- / section_about -----------------------
// -------------------------------------------------------------------------------------------- section_skills
.section_skills {
    &__subtitle {
        margin: 0 auto;
        text-align: center;
        max-width: 520px;
        font-size: 13px;
        text-transform: uppercase;
    }
    .block_skills_row {
        list-style: none;
        display: flex;
        justify-content: space-between;
        li {
            max-width: 180px;
            text-align: center;
            margin: 40px 0;
        }
        a {
            text-decoration: none;
            color: $title_text_color;
            font-size: 20px;
        }
        .block_circle {
            height: 180px;
            border-radius: 50%;
            background-color: #70616C;
            margin-bottom: 20px;
        }
        .b_c_1 {
            background: url(../assets/img/family.jpg) no-repeat center center;
            background-size: cover;
        }
        .b_c_2 {
            background: url(../assets/img/relationships.jpg) no-repeat center center;
            background-size: cover;
        }
        .b_c_3 {
            background: url(../assets/img/self.jpg) no-repeat 20% 50%;
            background-size: cover;
        }
        .b_c_4 {
            background: url(../assets/img/emotions.jpg) no-repeat center center;
            background-size: cover;
        }
        .b_c_5 {
            background: url(../assets/img/profession.jpg) no-repeat center center;
            background-size: cover;
        }
    }
    .item_reverse {
        background-color: #f9f1f0;
        div {
            flex-direction: row-reverse;
            .text_box {
                align-items: flex-start;
            }
        }
    }
    .skills_item {
        padding-top: 80px;
        padding-bottom: 80px;
        div {
            display: flex;
            justify-content: space-between;
            .photo_box {
                border-radius: 50%;
                overflow: hidden;
                max-width: 360px;
                height: 360px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .text_box {
                width: 60%;
                padding: 50px 20px;
                display: flex;
                flex-direction: column;
                &__title {
                    margin-top: 0;
                    font-size: 30px;
                    color: #33302e;
                    margin-bottom: 35px;
                }
                &__list {
                    color: #d39898;
                }
                .list_item {
                    font-size: 20px;
                    color: #6F6F6F;
                }
            }
        }
    }
}

// -------------------------------------------------------------------------------------------- / section_skills
// -------------------------------------------------------------------------------------------- section_advantages
.section_advantages {
    .advantages_area {
        display: flex;
        flex-direction: column;
        .advantages_area_block {
            display: flex;
            justify-content: space-between;
        }
        .advantages_area_item {
            flex: 1;
            display: flex;
            align-items: center;
            margin-bottom: 45px;
            margin-top: 45px;
            &__image {
                height: 80px;
                max-width: 80px;
                border-radius: 50%;
                background-color: #F9F1F0;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-shrink: 0;
            }
            &__description {
                font-size: 15px;
                line-height: 25px;
                padding-left: 34px;
                padding-right: 10px;
                text-align: left;
            }
        }
    }
}

// -------------------------------------------------------------------------------------------- / section_advantages
.section_about_consultation {
    .about_consultation_box {
        display: flex;
        align-items: center;
        margin-top: 100px;
    }
    .revert {
        .photo_box {
            text-align: end;
        }
    }
    .photo_box {
        flex: 1;
    }
    .text_box {
        flex: 1;
        display: flex;
        padding: 0 20px;
        .text_list {
            // margin-left: 20px;
            li {
                color: $record_color;
                padding-left: 20px;
                margin-bottom: 16px;
            }
        }
        .list_item {
            color: $title_text_color;
        }
    }
}

// -------------------------------------------------------------------------------------------- section_price
.section_price {
    .price_area {
        display: flex;
        justify-content: center;
        .price_area_item {
            flex: 1;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            margin: 15px;
            padding: 47px 30px;
            background-color: #F9F1F0;
            overflow: hidden;
            .discount_label {
                position: absolute;
                right: -34px;
                top: 18px;
                text-align: center;
                color: #fff;
                font-size: 17px;
                line-height: 35px;
                background-color: #c9c4c0;
                padding: 0 50px;
                transform: rotate(45deg);
            }
            .discount_label_color {
                background-color: #f79d95;
            }
            &__title {
                font-size: 32px;
                margin-bottom: 16px;
            }
            &__subtitle {
                line-height: 1em;
                margin-bottom: 16px;
            }
            &__description {
                font-size: 18px;
                line-height: 1.2em;
                margin-bottom: 35px;
            }
            .main_button {
                display: inline-block;
                text-decoration: none;
                border-radius: 25px;
                background-color: #D39999;
                color: white;
                padding: 15px 34px;
                font-size: 16px;
                cursor: pointer;
                font-family: "PT Serif", serif;
                font-size: 16px;
            }
        }
    }
}

// -------------------------------------------------------------------------------------------- / section_price
.section_qualification {
    .qualification_promo_area {
        display: flex;
        .promo_text {
            flex: 1;
            ul {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                height: 100%;
                margin: 0;
                padding: 0;
                list-style: none;
            }
            li {
                line-height: 1.6em;
                font-size: 20px;
                &::before {
                    content: '•';
                    color: $record_color;
                    position: relative;
                    top: 5px;
                    font-size: 30px;
                    margin-right: 10px;
                }
            }
        }
        .promo_img_area {
            flex: 1;
            display: flex;
            flex-direction: column;
            .promo_img_box {
                display: flex;
                justify-content: center;
                .doc_img_container {
                    max-width: 200px;
                    height: auto;
                    margin: 5px;
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

.section_contacts {
    .contacts_box {
        display: flex;
        justify-content: center;
        text-align: center;
    }
    i {
        color: $record_color;
        font-size: 70px;
        margin-bottom: 40px;
    }
    .contacts_item {
        flex: 1;
        padding: 70px 0;
    }
    .contacts_title {
        color: #3d3d3d;
        font-weight: bold;
        margin-bottom: 8px;
    }
    .logo_name {
        margin-top: 42px;
        text-align: center;
    }
    // .contacts_subtitle {}
}

.footer {
    background-color: $top_bar_bg_color;
    padding: 30px 0;
    text-align: center;
    color: $top_bar_text_color;
}